.wrapper {

}
.sidebar_profile {
    position: absolute;
    top: 0px;
    right: 0px;
}
#profile {
    margin-right: 40px;
}
#profile p {
    border: 2px solid black;
}
#profile_pic {
    margin-top: 10px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sidebar_profile2 {
    position: absolute;
    top: 0px;
    right: 0px;
}
.sidebar_profile2 div {
    margin-top: 10px;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.title {
    text-align: center;
}
.title_image {
    margin: auto;
    background-color: aqua;
    width: 1200px;
    height: 450px;
    border: 5px solid black;
}
.main {
    display: flex;
    justify-content: space-evenly;
}
.main div {
    width: 400px;
    height: 150px;
    text-align: center;
    padding-top: 3%;
}
.main_left {

}
.main_right {

}
.cloud p {
    border: 1px solid black;
    margin-left: 30%;
    margin-right: 30%;
}
.cloud {
    background-image: url("images/cloud.png");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}
#green {
    color: rgb(86, 184, 86);
}
#purple {
    color: blueviolet;
}
#box {
    position: absolute;
    margin-left: 50px;
    width: 300px;
    height: 80px;
    border: 3px solid black;
}