*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

.title {
    margin-bottom: 2rem;
}
.title_image {
    margin: auto;
    width: 50%;
    height: 500px;
    border: 0.5px solid black;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.8);
}
.title_image img {
    height: 100%;
    width: 100%;
}
main {
    margin: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main div {
    width: 15%;
    position: relative;

    animation-name: slider;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
main .italic {
    font-style: italic;
}

/* Registration */
.registration {
    
}
.registration input {
    padding: 0.3rem;
}
.user-info img {
    padding: 10px;
    border-radius: 50%;
    width: 150px;
}
.registration form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.row input {
    min-width: 20%;
    margin: auto;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.buttons button {
    background-color: #d7a4e9;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 2rem;
    font-weight: 700;
}
.ref-link {
    width: 70vh;
    margin: 2rem auto;
}
.ref-link input {
    width: 100%;
}
::-webkit-input-placeholder {
    text-align: center;
}
.partner-links {
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.partner-links label {
    border: 1px solid black;
    border-radius: 100%;
    padding: 0.4rem 0.6rem;
    margin-right: 1rem;
}
.partner-links input {
    min-width: 20%;
}

@media screen and (max-width:680px) {
    .ref-link {
        width: 90%;
    }
}

@keyframes slider {
    from {
        left: -20%;
    }
    to {
        left: 20%;
    }
}