p {
    font-size: 25px;
}
.box {
    border: 5px solid black;
    background-color: silver;
    width: 600px;
    height: 100px;
    margin: auto;
    text-align: center;
}
.text {
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}